@{
    ViewData["Title"] = "Error";
}

<div class="text-center mt-5">
    <h1 class="display-4">Oops!</h1>
    <p class="lead">Something went wrong.</p>
    <p>We encountered an error while processing your request. Please try again later.</p>
    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Return to Home</a>
</div>
